<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Bai09.Properties.Settings.StudentManagementDBConnectionString"
            connectionString="Data Source=DINHMANH\SQLEXPRESS;Initial Catalog=StudentManagementDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Bai09.Properties.Settings.StudentManagementConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\StudentManagement.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>